.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  transition: var(--transition);
}

.navbar-logo:hover {
  transform: scale(1.2);
}

.navbar-logo span {
  margin-left: 5px;
}

.navbar ul {
  list-style: none;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links li a {
  text-transform: capitalize;
  letter-spacing: 0.15rem;

  transition: var(--transition);
}

.navbar-links li a:hover {
  box-shadow: 0 3px var(--color-enfasis);
}

.navbar a {
  text-decoration: none;
}

.navbar-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggle {
  display: none;
  justify-content: center;
  align-items: center;
  transition: var(--transition);

  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.navbar-toggle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 56px;
  left: -100%;
  width: 100%;
  height: 100vh;

  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-top: 5rem;

  opacity: 0;
  z-index: 10;
  transition: var(--transition);
}

.mobile-menu.active {
  left: 0;
  opacity: 1;
}

.mobile-menu-links li {
  margin: 2rem 0;
  text-align: center;
}

.mobile-menu-links li a {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  transition: var(--transition);
}

.mobile-menu-links li a:hover,
.mobile-menu-links li a:active {
  opacity: 0.7;
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1500px) {
  .navbar {
    padding: 1rem 6rem;
  }

  .navbar-links li {
    margin: 0 2rem;
  }
}

@media (max-width: 650px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .navbar-socials {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
