@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-white: #fff;
  --color-grey: #646470;
  --color-black: #222;
  --color-dark-blue: #4c5bb3;
  --color-light-blue: #c3ddf6;
  --color-enfasis: rgb(255, 123, 61);

  --ff: 'Dosis', sans-serif;
  --spacing: 0.1rem;
  --translateY: -2px;

  --transition: all 0.3s ease;

  --max-width: 1100px;

  --border-radius: 10px;
  --box-shadow: 0 3px 5px rgb(0 0 0 / 60%);
}

.bg-color-1 {
  background-color: #f6f6f0;
}

.text-color {
  color: #222;
}

.color-enfasis {
  color: #333;
}

.bg-color-2 {
  background-color: #23212f;
}

.bg-color-3 {
  background-color: rgb(180, 218, 194);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text-heading {
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: var(--spacing);
  line-height: 1;
  margin: 15px 0;
}

.text-leading {
  font-size: 1.5rem;
  line-height: 1.8;
}

.text-content {
  font-size: 1.2rem;
}

.section-padding {
  padding: 4rem 6rem;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: rgb(255, 123, 61);
  color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  font-size: 1.2rem;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.btn:hover {
  opacity: 0.8;
}

@media (min-width: 1600px) {
  .section-padding {
    padding: 4rem 10rem;
  }
}

@media (max-width: 950px) {
  .section-padding {
    padding: 4rem;
  }
}

@media (max-width: 770px) {
  .flex-around {
    flex-direction: column;
    gap: 4rem;
  }
  .section-padding {
    padding: 2rem;
  }
}
